$offblack : rgba(10,10,10,1);
$offwhite : rgba(245,245,245,1);
$pacman-blue: rgba(0,132,255,1);
$pacman-light-blue: rgba(0,182,255,1);
$light-grey: rgba(183,183,183,1);
$light-black: rgba(0, 0, 0, 0.70);
$darker-purple: rgba(103, 43, 181,0.5);
$background-grey: rgba(70,70,70,1);