@import 'mediaQueries';
@import 'fonts';
@import 'colors';

body{
	font-family: $font-family;
	margin:0;
}

.row{
	display:flex;
	justify-content: center;
}

.column{
	display:flex;
	justify-content: center;
	flex-direction: column;
}

.tv-border{
	position: fixed;
	height:100vh;
	width:100%;
	top: 0;
	background-image: url(../images/Test.svg);
 	background-size: 100% 100vh;
 	background-repeat: no-repeat;
 	z-index: 3;
 	pointer-events:none;
}

.tv-button{
	background-color: $light-grey;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px 10px 5px 10px;
	border-radius:5px;
	transition:0.1s;
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.10) inset,
				0 2px 0 0 rgba(0, 0, 0, 0.70);
	color: $light-black;
	text-decoration: none;				
	
	&:active{
		box-shadow: none;
		transform: translateY(3px);
		box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.70);
	}

	&:hover{
		color: rgba(255, 255, 255, 0.50);
	}

	&:visited{
		color: rgba(0, 0, 0, 0.70);
	}

}

.nav{
	position: fixed;
	z-index: 5;
	width:100%;
	bottom: 15px;
	display:flex;
	justify-content: center;

	ul {
		margin:0;
		padding:0;
		max-width: 800px;
		width: 100%;
		display:flex;
		flex-wrap: wrap;
		justify-content: space-around;
		list-style: none;
	}
}

.content {
	text-align: center;
	padding-top:10vh;
	padding-bottom:20vh;
	margin:auto;
	display:none;
}

.content.turn-on{
	animation: turnon 4s linear;
	animation-fill-mode:forwards;
}

.tv-screen{
	height:100vh;
	width:100%;
	background-color: $offblack;
}

.noise {
	position: fixed;
	top: -500px;
	right: -500px;
	bottom: -500px;
	left: -500px;
	background: transparent url(../images/noise.png) 0 0;
	background-size: 320px 320px;
	background-color: blue;
	opacity: .25;
	z-index: 2;
	animation: noise 0.2s steps(8,end);
}

@keyframes noise {
  0% {
    transform: translate(0px,0px); }
  10% {
    transform: translate(-100px, 100px);
  }
  20% {
    transform: translate(150px, -100px);
  }
  30% {
    transform: translate(-100px,100px);
  }
  40% {
    transform: translate(100px, -150px);
  }
  50% {
    transform: translate(-100px, 200px);
  }
  60% {
    transform: translate(-200px, -100px);
  }
  70% {
    transform: translate(50px, 100px);
  }
  80% {
    transform: translate(100px, -150px);
  }
  90% {
    transform: translate(0px, 200px);
  }
  100% {
    transform: translate(-100px, 100px);
    display:none;
  }
}

@keyframes turnon{
	0%{
		filter:brightness(1000%);
		transform: scale(1,0.8);
	}

	5%{
		transform: scale(1,0) translate3d(0,100%,0);
	}

	5.5%{
		transform: scale(1,0.8) translate3d(0,-100%,0);
	}

	7%{
		transform: scale(1,0.2);
		opacity: 0;
	}

	8%{
		transform: scale(1,0.8);
		opacity: 1;
	}

	15%{
		transform: scale(1,1);
		opacity: 1;
	}
	

	29% {
		transform: scale(1,1);
	}

	29.5% {
		transform: scale(1,0) translate3d(300px,-300px,0);

	}

	30% {
		transform: scale(1,1) translate3d(-600px,600px,0);

	}

	30.5% {
		transform: scale(1,0) translate3d(600px,-600px,0);
	}

	32% {
		transform: scale(1,1) translate3d(0,0,0);
		filter:brightness(100%);
	}

	100%{
		
	}
}

@media (max-width: $phone-only) { 
	.tv-button{
		li{
			font-size: 0.5em;
		}
	}
}

@media (min-width: $tablet-portrait-up) {
	
	.content {
		padding-left:100px;
		padding-right:100px;
	}
}

@media (min-width: $tablet-landscape-up) {

}

@media (min-width: $desktop-up) {

}

@media (min-width: $big-desktop-up) {
	.tv-button{
		font-size: 2em;
	}
	.nav{
		ul{
			max-width: 1200px;
		}
		margin-bottom:15px;
	}
}
