@import 'secondaryPage';
@import 'colors';

.content{
	background-color: $offblack;
	color: $offwhite;
}

.row--skills{
	@extend .row;
	justify-content: flex-start;
	text-align: left;
	flex-wrap: wrap;
	border: 8px solid $pacman-blue;
	border-radius:5px;
	margin: 0 25px 0 25px;
	ul {
		margin:0;
		list-style: bullet;
		li {
			height: 45px;
			vertical-align: center;
			padding-left: 30px;
			font-size: 1em;
		}
	}
}

.point{
	position:absolute;
	animation: fade-away 3s both;
	margin-top: -25px;
	color: yellow;
}

@keyframes fade-away{
	0%{
		opacity: 1;
	}

	100%{
		transform: translateY(-15px);
		opacity: 0;
	}
}

@media (max-width: $phone-only) { 
}

@media (min-width: $tablet-portrait-up) {

}

@media (min-width: $tablet-landscape-up) {
	.row--skills{
		flex-wrap: nowrap;
		justify-content: space-around;
		margin: auto;

		ul{
			margin-top:15px;

			li{
				margin-top: 40px;
				margin-bottom: 40px;
				font-size: 1.5em;
			}
		}
	}

	.point{
		position:absolute;
		
		animation: fade-away 3s both;
		margin-top: -45px;
		color: yellow;
	}
}

@media (min-width: $desktop-up) {

	.row--skills{
	
		ul{

			li{
				font-size: 2em;
			}
		}
	}
}

@media (min-width: $big-desktop-up) {

}